.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.select-group {
  width: 200px;
  height: 40px;
}

.question {
 font-family:'Trebuchet MS';
  font-size: 15px; 
}
.Rules-box {
  font-family: Inter;
  background-color: #eeeeee;
  padding-left: 10px;
  padding-right: 5px;
  border-style: solid;
  width: fit-content;
}

.rules {
  font-size: 11px;
  color: blue;

}
.map {
  position: absolute;
  margin-left: 150px;
  margin-top: 150px;
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .map {
    margin-left: 1050px;
  }
}
@media screen and (max-width:1000px){
  .map {
    margin-left: 450px;
  }
  
}